{{!< default}}

{{#post}}

<header class="header page-head {{post_class}} page-contact">
    <h2>
        <img src="{{asset "images/pagetitle-contact.jpg"}}" alt="{{title}}" />
    </h2>
</header>

<div class="page-content {{post_class}} page-contact">
    <div class="container">
        {{content}}
    </div>
</div>

{{/post}}
